AZURE_VISION_ENDPOINT=https://japaneast.api.cognitive.microsoft.com/
AZURE_VISION_KEY=
AZURE_OPENAI_ENDPOINT=https://japaneast.api.cognitive.microsoft.com/
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=sit-copilot-demo-chat
AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_ANALYSIS_LIVE_ENABLED=false
APP_DATA_DIR=./data
DEMO_MODE_DEFAULT=replay
